body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  /* background-image: url("./img/flower.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%   ; */
  background-color: #f5f5f5;
}

.title-div {
  color: white;
  margin-top: 5px;
}

.blue-text {
  color: #A69B63 !important;
  font-weight: bold
}

.form-control-label {
  margin-bottom: 0
}

#searchbtn {
  color: #ffffff;
  background-color: #002953;
  font-weight: bold;
  border: 0px !important;
}

textarea,
button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00BCD4;
  outline-width: 0;
}

.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer
}

.btn-block:hover {
  color: #fff !important
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

/*  */

.card-hdr {
  background-color: #002953;
  height: 100px;
}

.card-logo {
  width: 100px;
  margin-top: 25px;
}

.card-shadow {
  box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
}

input,
select {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 14px !important;
}

.link-btn {
  background-color: #002953;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
}

.link-btn:hover {
  color: white;
}

.padding-zero {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #002953;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -59px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.retooltip {
  position: relative;
  display: inline-block;
}

.retooltip .retooltiptext {
  visibility: hidden;
  width: 85px;
  background-color: #002953;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -41px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.retooltip .retooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.retooltip:hover .retooltiptext {
  visibility: visible;
  opacity: 1;
}

select {
  line-height: 1.8 !important;
}

.right-padding {
  padding-right: 0px !important;
}

footer {
  margin-top: 20% !important;
  font-size: small;
  color: darkgray;
}